

.header {
	text-align: center;
	font-family: Pacifico;
	font-size: 10em;
	color: #fff;
	text-shadow: -2px -2px 0 #000,2px -2px 0 #000,-2px 2px 0 #000,2px 2px 0 #000;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
	margin-right:0px;
	display: block;

}

.loginImage {
	background-image: url("http://c.fastcompany.net/multisite_files/fastcompany/poster/2014/01/3025003-poster-p-dog-2.jpg");
	background-position-x:50%;
	background-position-y:50%;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	z-index: -10;

}


.loginForm {
	background-color: rgba(0,0,0,.6);
	border: 1px solid #000;    
	margin: auto;
	width: 600px;
	height: 136px;
}

.userinput{
	width: 50%;
	margin:auto;
	margin-top: 20px;
}

.reginput {
	width: 20%;
	margin:auto;
	margin-top: 40px;
}

#regbtn {
	margin:auto;
	text-align: center;
	margin-left: 760px;
	margin-top: 40px;
}

.loginContainer {
	font-family: 'Open Sans',sans-serif;
	font-size: 1.5em;
	color: #ff7d8a;
	margin-left: 30px;
	text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.twobtns {
	margin-top: 40px;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

#imginput {
	margin:auto;
	margin-left: 100px;
	width: 700px;
	margin-top: 30px;
}

#submitbutton {
	margin-left: 20px;
	margin-top: 30px;
}



.picpageimg {
/*	background-image: url('nature-wallpaper.jpg');
*/	background-position-x:50%;
background-position-y:50%;
background-size: cover;
width: 100%;
height: 100%;
position: fixed;
left: 0;
top:0;
z-index: -10;
}


#wrapper {
	width: 90%;
	max-width: 1700px;
	min-width: 800px;

	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}
/*div#masonry {
display: -ms-flexbox;
-ms-flex-direction: column;
-ms-flex-wrap: wrap;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 100vw;
font-size: 0;
}
div#masonry img {
width: 33.3%;
transition: .8s opacity;
}
div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; }*/
